.rounded-top {
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.rounded-bottom {
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}

.btn {
  font-family: $fontDefault;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  line-height: 100%;
  text-align: center;
  border-radius: 0.25rem;
  border: none;
  transition: background $transition, opacity $transition;

  span {
    transition: all $transition;
  }

  path {
    transition: all $transition;
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &.prev {
    transform: rotate(180deg);
  }
}

.btn-square {
  width: 3rem;

  &.bg-black {
    &:hover {
      background: map-get($grayColors, 900);
    }
  }

  &.bg-gray300 {
    border: 1px solid map-get($grayColors, 500);
    &:hover {
      background: map-get($grayColors, 500);
    }
  }
}

.btn-outline {
  border: 2px solid #707070;
  background: transparent;
  transition: background $transition, border $transition;

  &:hover {
    color: map-get($redColors, 300);
    background: map-get($grayColors, 900);
    border-color: map-get($grayColors, 900);

    & > svg path {
      stroke: map-get($redColors, 300);
    }
  }
}

 