body,
html {
  scroll-behavior: smooth;
  font-family: $fontDefault;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.text-white {
  color: #fff;
}


.bg-white {
  background-color: #fff;
}

.bg-black20 {
  background-color: $black20;
}

.bg-gray-gradient {
  background-image: $grayGradient;
}

@media (max-width: 768px) {
  .container {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}
