@mixin createRedColors {
    @each $graduacao, $cor in $redColors {
      .text-red#{$graduacao} {
        color: $cor;
      }
    }
  }
  
@mixin createGrayColorsAndBgs {
  @each $graduacao, $cor in $grayColors {
    .text-gray#{$graduacao} {
      color: $cor;
    }

    .bg-gray#{$graduacao} {
      background: $cor;
    }
  }
}

@mixin createTextProperties {
  @each $type, $styles in $textProperties {
    .text-#{$type} {
      font: $styles;
    }
  }
}
