.colunists-area {
  .article-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .btn-toolbar {
    .more {
      background: #fff;
      border: none;

      &:hover {
        background: linear-gradient(129.58deg, #ec1c24 1.26%, #68181e 100%);
        svg path {
          stroke: #fff;
        }
      }
    }
  }

  .article {
    transition: width $transition;
    flex: 0;

    &:hover {
      .author-wrapper {
        .author-image {
          background-color: #72f29e;
        }
        .author-name {
          color: map-get($redColors, 700);
        }
      }
    }

    .author-wrapper {
      .author-image {
        background-color: #c9c9c9;
        transition: background-color $transition;
        overflow: hidden;
        line-height: 0;
      }
      .author-name {
        transition: color $transition;
      }
    }

    .content-wrapper {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .colunists-area {
    padding-bottom: 4rem !important;
    transition: width $transition;
    .article {
      transition: width $transition;
      flex: none;

      .author-wrapper {
        width: 196px;
        max-height: 270px;
      }

      &:hover {
        width: 700px;
        transition: width $transition;
        .content-wrapper {
          display: block;
          width: 480px;
          .content {
            opacity: 1;
          }
        }
      }
   
    }
  }
}