@import 'video-section';
@import 'colunists';

  /* BREAKPOINTS */
  @media (max-width: 768px) {
 
  
    .videos-area {
      
      .video-row {
        .highlight-video {
          margin-bottom: 1.5rem;
          min-height: auto;
          height: auto;
  
          &:hover {
            .video-image {
              .comments {
                opacity: 1;
              }
            }
            .video-content {
              border-top: 5px solid $redHighlight;
            }
          }
  
          .video-image {
            position: relative;
            border-radius: 8px 8px 0 0;
  
            .comments {
              opacity: 0;
              position: absolute;
              bottom: 0;
              right: 0;
              transition: opacity $transition;
            }
          }
  
          .video-content {
            background: map-get($grayColors, 800);
            border-radius: 0 0 8px 8px;
            border-top: 5px solid transparent;
            transition: border-top $transition;
            padding: 11px 1rem 1rem 1rem;
  
            .play {
              position: absolute;
              top: 0;
              width: 33px;
  
              svg {
                width: 2rem;
                height: 2rem;
              }
            }
  
            h3 {
              font: map-get($textProperties, feed3);
            }
          }
        }
      }
    }
  }
  