.videos-area {
  overflow: hidden;
  background-image: linear-gradient(93.03deg, #222222 0.41%, #2e2e2e 98.74%);
  z-index: 0;
  position: relative;

  .video-row {
    position: relative;
  }

  .highlight-video {
    display: flex;
    height: 100%;
    background-size: cover;
    border-radius: 8px;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center center;
    transition: box-shadow $transition;
    min-height: 642px;
    box-shadow: inset 0 0 0 5px transparent;
    position: relative;

    .video-image {
      position: absolute;
      overflow: hidden;
      z-index: -1;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .video-content {
      padding: 5% 4%;
    }

    &:hover {
      box-shadow: inset 0 0 0 5px $redHighlight;

      svg path {
        fill: map-get($redColors, 300);
      }
    }

    svg path {
      transition: fill $transition;
    }
  }

  .videos-wrapper {
    gap: 24px;
    max-height: 642px;
    overflow-y: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    .video-item {
      position: relative;
      flex: 1 0 90%;

      &:hover {
        .play {
          path {
            fill: $redHighlight;
          }
        }
        .video-image {
          box-shadow: inset 0 0 0 5px $redHighlight;

          .comments {
            opacity: 1;
          }

          img {
            opacity: 0.5;
          }
        }

        .video-content {
          background: map-get($grayColors, 900);
        }
      }

      .play {
        position: absolute;
        z-index: 2;

        path {
          transition: fill $transition;
        }
      }

      .video-image {
        height: 204px;
        position: relative;
        box-shadow: inset 0 0 0 5px transparent;
        transition: box-shadow $transition;

        .comments {
          position: absolute;
          bottom: 0;
          right: 0;
          opacity: 0;
          transition: opacity $transition;
        }

        .image-container {
          background: #000;
          position: absolute;
          z-index: -1;
          width: 100%;
          height: 100%;

          img {
            transition: opacity $transition;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 9px 8px 0 0;
          }
        }
      }

      .video-content {
        transition: background-color $transition;

        h4 {
          padding-bottom: 0.5rem;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .videos-area {
    padding-bottom: 51px !important;
    padding-top: 4rem !important;
    background: none;

    .highlight-video {
      .comments {
        display: none;
      }
    }

    .btn-toolbar {
      .more {
        span {
          display: none;
        }
      }
    }

    .video-row {
      
      &::before {
        content: '';
        position: absolute;
        width: calc((100vw - (100vw - 100%) / 2) + 40px);
        background-image: linear-gradient(
          93.03deg,
          #222222 0.41%,
          #2e2e2e 98.74%
        );
        z-index: -1;
        border-radius: 8px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        left: -49px;
        top: -48px;
        height: calc(100% + 99px);
      }

      .video-item {
        flex: none;
      }
      
    }
  }

  
}
